//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 20 21:55:44 2024
//! **************************************************************************

SCHEMATIC START;
COMP "clk160n" LOCATE = SITE "AB5" LEVEL 1;
COMP "clk160p" LOCATE = SITE "AB6" LEVEL 1;
COMP "clk40n" LOCATE = SITE "B10" LEVEL 1;
COMP "clk40p" LOCATE = SITE "A10" LEVEL 1;
COMP "rxn<0>" LOCATE = SITE "AP6" LEVEL 1;
COMP "rxn<1>" LOCATE = SITE "AM6" LEVEL 1;
COMP "rxn<2>" LOCATE = SITE "AL4" LEVEL 1;
COMP "rxn<3>" LOCATE = SITE "AJ4" LEVEL 1;
COMP "rxn<4>" LOCATE = SITE "AA4" LEVEL 1;
COMP "rxn<5>" LOCATE = SITE "W4" LEVEL 1;
COMP "rxn<6>" LOCATE = SITE "U4" LEVEL 1;
COMP "rxn<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "rxp<0>" LOCATE = SITE "AP5" LEVEL 1;
COMP "rxp<1>" LOCATE = SITE "AM5" LEVEL 1;
COMP "rxp<2>" LOCATE = SITE "AL3" LEVEL 1;
COMP "rxp<3>" LOCATE = SITE "AJ3" LEVEL 1;
COMP "rxp<4>" LOCATE = SITE "AA3" LEVEL 1;
COMP "rxp<5>" LOCATE = SITE "W3" LEVEL 1;
COMP "rxp<6>" LOCATE = SITE "U3" LEVEL 1;
COMP "rxp<7>" LOCATE = SITE "R3" LEVEL 1;
COMP "txn<0>" LOCATE = SITE "AK2" LEVEL 1;
COMP "txn<1>" LOCATE = SITE "AH2" LEVEL 1;
COMP "txn<2>" LOCATE = SITE "AB2" LEVEL 1;
COMP "txn<3>" LOCATE = SITE "Y2" LEVEL 1;
COMP "txn<4>" LOCATE = SITE "V2" LEVEL 1;
COMP "txn<5>" LOCATE = SITE "T2" LEVEL 1;
COMP "txn<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "txn<7>" LOCATE = SITE "AM2" LEVEL 1;
COMP "txp<0>" LOCATE = SITE "AK1" LEVEL 1;
COMP "txp<1>" LOCATE = SITE "AH1" LEVEL 1;
COMP "txp<2>" LOCATE = SITE "AB1" LEVEL 1;
COMP "txp<3>" LOCATE = SITE "Y1" LEVEL 1;
COMP "txp<4>" LOCATE = SITE "V1" LEVEL 1;
COMP "txp<5>" LOCATE = SITE "T1" LEVEL 1;
COMP "txp<6>" LOCATE = SITE "P1" LEVEL 1;
COMP "txp<7>" LOCATE = SITE "AM1" LEVEL 1;
COMP "_ccb_rx<10>" LOCATE = SITE "AE27" LEVEL 1;
COMP "_ccb_rx<11>" LOCATE = SITE "AD25" LEVEL 1;
COMP "_ccb_rx<12>" LOCATE = SITE "AD26" LEVEL 1;
COMP "_ccb_rx<20>" LOCATE = SITE "AK33" LEVEL 1;
COMP "_ccb_rx<13>" LOCATE = SITE "AE26" LEVEL 1;
COMP "_ccb_rx<21>" LOCATE = SITE "AK34" LEVEL 1;
COMP "_ccb_rx<14>" LOCATE = SITE "AM30" LEVEL 1;
COMP "_ccb_rx<22>" LOCATE = SITE "AL33" LEVEL 1;
COMP "_ccb_rx<30>" LOCATE = SITE "AM33" LEVEL 1;
COMP "_ccb_rx<15>" LOCATE = SITE "AP29" LEVEL 1;
COMP "_ccb_rx<23>" LOCATE = SITE "AL31" LEVEL 1;
COMP "_ccb_rx<31>" LOCATE = SITE "AN34" LEVEL 1;
COMP "_ccb_rx<16>" LOCATE = SITE "AM28" LEVEL 1;
COMP "_ccb_rx<24>" LOCATE = SITE "AL30" LEVEL 1;
COMP "_ccb_rx<32>" LOCATE = SITE "AN33" LEVEL 1;
COMP "_ccb_rx<40>" LOCATE = SITE "AA30" LEVEL 1;
COMP "_ccb_rx<17>" LOCATE = SITE "AK31" LEVEL 1;
COMP "_ccb_rx<25>" LOCATE = SITE "AK32" LEVEL 1;
COMP "_ccb_rx<33>" LOCATE = SITE "AP33" LEVEL 1;
COMP "_ccb_rx<41>" LOCATE = SITE "Y29" LEVEL 1;
COMP "_ccb_rx<50>" LOCATE = SITE "AH32" LEVEL 1;
COMP "_ccb_rx<18>" LOCATE = SITE "AB28" LEVEL 1;
COMP "_ccb_rx<26>" LOCATE = SITE "AL34" LEVEL 1;
COMP "_ccb_rx<34>" LOCATE = SITE "AA26" LEVEL 1;
COMP "_ccb_rx<42>" LOCATE = SITE "Y26" LEVEL 1;
COMP "_ccb_rx<19>" LOCATE = SITE "AH30" LEVEL 1;
COMP "_ccb_rx<27>" LOCATE = SITE "AJ30" LEVEL 1;
COMP "_ccb_rx<35>" LOCATE = SITE "AB27" LEVEL 1;
COMP "_ccb_rx<43>" LOCATE = SITE "AG31" LEVEL 1;
COMP "_ccb_rx<28>" LOCATE = SITE "AJ29" LEVEL 1;
COMP "_ccb_rx<36>" LOCATE = SITE "AA28" LEVEL 1;
COMP "_ccb_rx<44>" LOCATE = SITE "AH34" LEVEL 1;
COMP "_ccb_rx<29>" LOCATE = SITE "AH29" LEVEL 1;
COMP "_ccb_rx<37>" LOCATE = SITE "Y27" LEVEL 1;
COMP "_ccb_rx<45>" LOCATE = SITE "AJ34" LEVEL 1;
COMP "_ccb_rx<38>" LOCATE = SITE "AA29" LEVEL 1;
COMP "_ccb_rx<46>" LOCATE = SITE "AA31" LEVEL 1;
COMP "_ccb_rx<39>" LOCATE = SITE "AG32" LEVEL 1;
COMP "_ccb_rx<47>" LOCATE = SITE "Y28" LEVEL 1;
COMP "_ccb_rx<48>" LOCATE = SITE "AH33" LEVEL 1;
COMP "_ccb_rx<49>" LOCATE = SITE "AA25" LEVEL 1;
COMP "_ccb_rx<0>" LOCATE = SITE "AG28" LEVEL 1;
COMP "_ccb_rx<1>" LOCATE = SITE "AM32" LEVEL 1;
COMP "_ccb_rx<2>" LOCATE = SITE "AN32" LEVEL 1;
COMP "_ccb_rx<3>" LOCATE = SITE "AG27" LEVEL 1;
COMP "_ccb_rx<4>" LOCATE = SITE "AC25" LEVEL 1;
COMP "_ccb_rx<5>" LOCATE = SITE "AD27" LEVEL 1;
COMP "_ccb_rx<6>" LOCATE = SITE "AP32" LEVEL 1;
COMP "_ccb_rx<7>" LOCATE = SITE "AM31" LEVEL 1;
COMP "_ccb_rx<8>" LOCATE = SITE "AP30" LEVEL 1;
COMP "_ccb_rx<9>" LOCATE = SITE "AF26" LEVEL 1;
SCHEMATIC END;

